*{margin:0;padding:0;box-sizing: border-box;}
*::after{box-sizing:border-box}
*::before{box-sizing:border-box}
a{text-decoration: none;color: inherit;}
ul{list-style: none;}
body{
    position: relative;
    background-image: url(../img/wallhaven-745714.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
}

.wrapper{
    display: flex;
    justify-content: flex-start;
    position:relative;left:3%;
    margin-top: 2vw;
    height: 90vh;
    width: 70vw;
    border-top: 50px solid rgb(253, 114, 109);
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


/*侧边栏*/
aside{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right:2px solid rgb(253, 114, 109);
}
aside .container{
    max-height:580px;overflow: auto
}
aside .songList .active{
    background: rgb(236, 236, 236);
}
aside .songList td{
    border-top: 1px dashed rgb(253, 114, 109);
    cursor: pointer;
    border-radius: 6px;
}
aside .table thead th{
    border-top: 1px solid transparent;
    border-bottom: 2px dashed rgb(253, 114, 109);
}


aside #box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
aside #box #uploadArea {
    border-radius: 20px;
    height: 12vw;width: 23vw;
    padding: 45px;
    border: 3px dashed rgba(253, 114, 109,0.8);
    background: rgb(237, 235, 247);
    cursor: pointer;
    text-align: center;
}

/*主要部分*/
.wrapper>span{
    text-align: center;
    position: absolute;top:-40px;left:65px;
    color: white;
}
.wrapper svg{
    position: absolute;top: -44px;left: 12px;
    height: 2em;width: 2em;
}
.wrapper main{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.wrapper main #imformation span{
    margin-left: 10px;

}
main h1{
    padding: 12px;
    border-bottom: 2px dashed rgb(253, 114, 109);
    margin:0 30px;
}
main .form .form-group .songImformation{
    border:1px solid rgb(217, 217, 217),

}
main .form{
    padding: 12px 30px ;
}
main .form button{
    cursor: pointer;
    margin-top: 14px;
}
main .form .form-group{
    margin-bottom: 6px;
}
main .form .form-group>label{
    margin-bottom: 6px;
}
main textarea{
    border: 1px solid rgb(177, 174, 191);
    box-shadow: 0 0 1px  rgba(0,0,0,0.15);
    border-radius: .25rem;
    height: 200px;width: 100%;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
}






